*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {

  margin: auto;
  max-width: 1480px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.stage{
  color: #fff;
  background-color: #fff;
  width: 100% !important;
  height: 100% !important;
}